static/stocks.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Stocks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Stock" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ticker" type="xs:string" />
              <xs:element name="Amount" type="xs:integer" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
